.helper-text {
  color: #B8C9D5;
  font-family: 'Londrina Solid', cursive;
  text-align: center;
}

.padding {
  padding-top: 40%;
}

.login {
  font-family: 'Londrina Solid', cursive;
  color: #E3EAEF;
  background-color: #365E78;
  font-size: 12vw;
  text-align: center;
}

a.login {
  line-height: 2em;
}

@font-face {
  font-family: 'Londrina Solid';
  src: url('../lib/ionic/fonts/LondrinaSolid-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}