.helper-text {
  color: #B8C9D5;
  font-family: 'Londrina Solid', cursive;
  text-align: center;
}

.padding {
  padding-top: 40%;
}

.login {
  font-family: 'Londrina Solid', cursive;
  color: #E3EAEF;
  background-color: #365E78;
  font-size: 12vw;
  text-align: center;
}

a.login {
  line-height: 2em;
}

@font-face {
  font-family: 'Londrina Solid';
  src: url('../lib/ionic/fonts/LondrinaSolid-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

form i.icon.error {
  color: #ef4e3a;
}

form input + i.icon.error {
  display: none;
  margin-left: 8px;
}

form.ng-submitted input.ng-invalid + i.icon.error {
  display: block;
}

form .has-error {
  border-left: 3px solid #cc2511; 
  border-right: 3px solid #cc2511; 
}

form .has-success {
  border-left: 3px solid #3d8b3d; 
  border-right: 3px solid #3d8b3d; 
}

form.ng-submitted input.ng-valid + i.icon.error {
  display: none;
}

.validated {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  width: 100%;
}

.validated .input-label {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; 
}

.validated input {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%; 
}

.validated error {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%; 
}

/*moon movement*/

@-webkit-keyframes moonMovement {
   0%  {bottom:24%;left:14%;z-index: 1;}
    3% {bottom:27%;left:17%;}
    25% {-webkit-transform: scale(0.2);}
    47% {bottom:59%;left:69%;}
    49% {z-index: 1;-webkit-transform: scale(1);}
    50% {bottom:62%;left:72%;z-index: 10;box-shadow: -25px 25px 0 2px rgba(0,0,0,0.5)}
    57% {bottom:59%;left:69%;}
    75% {-webkit-transform: scale(2.2);box-shadow: 0px 0px 0 4px rgba(0,0,0,0.8)}
    97% {bottom:27%;left:17%;box-shadow: 15px -15px 0 2px rgba(0,0,0,0)}
    99% {z-index: 10;}
    100% {bottom:24%;left:14%;z-index: 1;-webkit-transform: scale(1);box-shadow: 15px -15px 0 2px rgba(0,0,0,0)}
}

@keyframes moonMovement {
   0%  {bottom:24%;left:14%;z-index: 1;}
    3% {bottom:27%;left:17%;}
    25% {-webkit-transform: scale(0.2);}
    47% {bottom:59%;left:69%;}
    49% {z-index: 1;-webkit-transform: scale(1);}
    50% {bottom:62%;left:72%;z-index: 10;box-shadow: -25px 25px 0 2px rgba(0,0,0,0.5)}
    57% {bottom:59%;left:69%;}
    75% {-webkit-transform: scale(2.2);box-shadow: 0px 0px 0 4px rgba(0,0,0,0.8)}
    97% {bottom:27%;left:17%;box-shadow: 15px -15px 0 2px rgba(0,0,0,0)}
    99% {z-index: 10;}
    100% {bottom:24%;left:14%;z-index: 1;-webkit-transform: scale(1);box-shadow: 15px -15px 0 2px rgba(0,0,0,0)}
}

/*Begin CSS for planets*/
.wrapper {
  width:250px;
  height:250px;
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
  background-color: #365E78;
}

.planet {
  width:100px;
  height:100px;
  border-radius: 50%;
  position: absolute;
  background-image: url('http://www.sernova.com/inc/nav_linkedin.png');
  background-size: 100px 100px;
  left:50%;
  top:50%;
  box-shadow: -10px 10px 0 0px rgba(0,0,0,0.7);
  transform:translate(-50%,-50%);
  z-index: 5;
  overflow: hidden;
}

.planet::before {
  content:"";
  height:100px;
  width:100px;
  border-radius: 50%;
  position: absolute;
  left:10%;
  bottom:10%;
}

.planet::after {
  content:"";
  height:100px;
  width:100px;
  border-radius: 50%;
  position: absolute;
  left:15%;
  bottom:15%;

}

.moon {
  width:30px;
  height:30px;
  border-radius: 50%;
  background-color: #FF6530;
  position: absolute;
  left:40%;
  bottom:30%;
  overflow: hidden;
  -webkit-animation: moonMovement 3s linear infinite;
  animation: moonMovement 3s linear infinite;
}

.moon::before {
  content:"";
  height:30px;
  width:30px;
  border-radius: 50%;
  position: absolute;
  left:10%;
  bottom:10%;
  background-color: #FF906A;
}

/*End CSS for planets*/