.helper-text {
  color: #B8C9D5;
  font-family: 'Londrina Solid', cursive;
  text-align: center;
}

.padding {
  padding-top: 50%;
}

.login {
  font-family: 'Londrina Solid', cursive;
  color: #E3EAEF;
  background-color: #365E78;
  font-size: 1.75em;
  text-align: center;
}

a.login {
  line-height: 2em;
}