<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet"> -->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above -->
    <link href="css/tdCards.css" rel="stylesheet">
    <link href="css/ionic.app.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- angular-local-storage -->
    <script src="./lib/angular-local-storage/dist/angular-local-storage.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/AppCtrl.js"></script>
    <script src="js/controllers/AuthCtrl.js"></script>
    <script src="js/controllers/BrowseCtrl.js"></script>
    <script src="js/controllers/MatchesCtrl.js"></script>
    <script src="js/controllers/MatchCtrl.js"></script>
    <script src="js/controllers/CardsCtrl.js"></script>
    <script src="js/controllers/CardCtrl.js"></script>
    <script src="js/controllers/LoginCtrl.js"></script>
    <script src="js/services/GitHubService.js"></script>
    <script src="js/services/LinkedInService.js"></script>
    <script src="js/services/QueueService.js"></script>
    <script src="js/directives/Validation.js"></script>
    <script src="js/collide.js"></script>
    <script src="js/ionic.tdcards.js"></script>
  </head>

  <body ng-app="endevr">
    <!-- show this if the user is authenticated -->
    <div ng-controller="AuthCtrl">
        <div ng-show="Authenticated">
            <ion-nav-view></ion-nav-view>
        </div>

        <div ng-show="needsAuthentication">
            <ion-content class='login'>
                <div ng-show="!usertype" class='padding'>
                    <ul>
                        <li class="helper-text">Select One:</li>
                        <li><a class="login" ng-click="assignDev()">I'm a developer.</a></li>
                        <li><a class="login" ng-click="assignEmp()">I'm hiring.</a></li>
                    </ul>
                </div>
                <div ng-show="usertype=='dev'" ng-controller="LoginCtrl">
                    <div class="list">
                      <div ng-show='!LinkedInAuthenticated'>
                          <button class="button button-block button-stable" ng-click="linkedinlogin()">Log in with LinkedIn</button>
                      </div>
                      <div ng-show='!GitHubAuthenticated'>
                          <button class="button button-block button-stable" ng-click="githublogin()">Log in with GitHub</button>
                      </div>
                      <button class="button button-block button-stable" ng-click="logout()">Back</button>
                    </div>
                    Authenticated: {{ Authenticated }} LinkedIn: {{ LinkedInAuthenticated }}
                </div>
                <div ng-show="usertype=='emp'" ng-controller="LoginCtrl">
                    <form novalidate="novalidate" on-valid-submit="employerLogin(employer)">
                        <div class="list">
                          <label class="item item-input validated">
                            <span class="input-label">Email</span>
                            <input type="email" required="required" name="email" ng-model="employer.email">
                            <i class="icon ion-alert-circled error"></i>
                          </label>
                          <label class="item item-input validated">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="employer.password" name="password" required="required">
                            <i class="icon ion-alert-circled error"></i>
                          </label>
                        </div>
                        <div>
                            <button type="submit" class="button button-block button-stable">Sign In</button>
                        </div>
                    </form>
                    <form novalidate="novalidate" on-valid-submit="employerSignup(newEmployer)">
                        <div class="list">
                        <h3>New to endevr? Sign up.</h3>
                          <label class="item item-input validated">
                            <span class="input-label">Email</span>
                            <input type="email" required="required" name="email" ng-model="newEmployer.email">
                            <i class="icon ion-alert-circled error"></i>
                          </label>
                          <label class="item item-input validated">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="newEmployer.password" name="password" required="required">
                            <i class="icon ion-alert-circled error"></i>
                          </label>
                        </div>
                        <div>
                            <button type="submit" class="button button-block button-stable">Sign Up</button>
                        </div>
                    </form>
                    <div>
                        <button class="button button-block button-stable" ng-click="logout()">Back</button>
                    </div>
                </div>
            </ion-content>
        </div>

    </div>
  </body>
</html>
