<ion-view hide-back-button="true" title="Sign In" class='login'>
    <div ng-show="!type" class='login'>
        <ul style="padding-top: 60%">
            <li><a class="login" ng-click="assignDev()">I'm a developer</a></li>
            <li><a class="login" ng-click="assignEmp()">I'm hiring</a></li>
        </ul>
    </div>
    <div ng-show="type=='dev'" ng-controller="LoginCtrl">
        <div class="list">
          <div ng-show="!LinkedInAuthenticated">
              <a class="wrapper" ng-click="linkedinlogin()">
                <div class="wrapper">
                  <div class="planet"></div>
                  <div class="moon"></div>
                  </div>
              </a>
              <div style="padding-top: 10%">
                <ul>
                  <li><a class="login" style="font-size: 20px" ng-click="linkedinlogin()">Login with LinkedIn</a></li>
                </ul>
              </div>
          </div>
          <div ng-show="showGitHub()">
            <a class="wrapper" ng-click="githublogin()">
                <div class="wrapper">
                  <div class="planet ghplanet"></div>
                  <div class="moon"></div>
                  </div>
            </a>
            <div style="padding-top: 10%">
              <ul>
                <li><a class="login" style="font-size: 20px" ng-click="githublogin()">Improve your profile with GitHub</a></li>
                <li><a class="login" style="font-size: 20px" ng-click="skipGitHub()">Skip this step</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div ng-show="type=='emp'" ng-controller="LoginCtrl">
        <form novalidate="novalidate" class="padding" on-valid-submit="employerLogin(employer)">
            <div ng-show="!isNewEmployer" class="list">
              <label class="item item-input validated">
                <span class="input-label">Email</span>
                <input type="email" required="required" name="email" ng-model="employer.email">
                <i class="icon ion-alert-circled error"></i>
              </label>
              <label class="item item-input validated">
                <span class="input-label">Password</span>
                <input type="password" ng-model="employer.password" name="password" required="required">
                <i class="icon ion-alert-circled error"></i>
              </label>
              <div class="wide-button" style="padding-top: 10px">
                  <button type="submit" id='login' class="button wide-button">Sign In</button>
              </div>
              <div ng-show="badlogin" style="padding-top: 10px" id="bad-login">
                <span>Incorrect username or password</span>
              </div>
            </div>
        </form>
        <form novalidate="novalidate" on-valid-submit="employerSignup(newEmployer)">
            <div class="list">
            <div ng-show="!isNewEmployer">
              <p class="signup">New to endevr?</p>
              <u><a ng-click="changeEmployerStatus()" class='signup'>Sign up.</a></u>
            </div>
              <div ng-show="isNewEmployer">
                <label class="item item-input validated">
                  <span class="input-label">Email</span>
                  <input type="email" required="required" name="email" ng-model="newEmployer.email">
                  <i class="icon ion-alert-circled error"></i>
                </label>
                <label class="item item-input validated">
                  <span class="input-label">Password</span>
                  <input type="password" ng-model="newEmployer.password" name="password" required="required">
                  <i class="icon ion-alert-circled error"></i>
                </label>
                <div class="wide-button" style="padding-top: 10px">
                  <button type="submit" id='login' class="button wide-button">Sign Up</button>
                </div>
              </div>
            </div>
            <div ng-show="duplicate">
              <span>This username already exists, please choose another or log in with your account</span>
            </div>
        </form>
    </div>
    <ion-footer-bar ng-show='type'>
      <div ng-controller="LoginCtrl" class="wide-button">
        <button class="button wide-button" id="login" ng-click="logout()">Back</button>
      </div>
    </ion-footer-bar>
</ion-view>