<ion-view hide-back-button="true" title="Sign In" class='login'>
    <div ng-show="!type" class='login'>
        <ul class="padding">
            <li><a class="login" ng-click="assignDev()">I'm a developer.</a></li>
            <li><a class="login" ng-click="assignEmp()">I'm hiring.</a></li>
        </ul>
    </div>
    <div ng-show="type=='dev'" ng-controller="LoginCtrl">
        <div class="list">
          <div ng-show="!LinkedInAuthenticated">
              <a class="wrapper" ng-click="linkedinlogin()">
                <div class="wrapper">
                  <div class="planet"></div>
                  <div class="moon"></div>
                  </div>
                </a>
          </div>
          <div ng-show="showGitHub()">
              <button class="button button-block button-stable" ng-click="githublogin()">Improve your profile with GitHub</button>
              <button class="button button-block button-stable" ng-click="skipGitHub()">Skip this step</button>
          </div>
          <button class="button button-block button-stable" ng-click="logout()">Back</button>
        </div>
        {{ Authenticated }}
    </div>
    <div ng-show="type=='emp'" ng-controller="LoginCtrl">
        <form novalidate="novalidate" on-valid-submit="employerLogin(employer)">
            <div class="list">
            <h2>placeholder REMOVE ME</h2>
              <label class="item item-input validated">
                <span class="input-label">Email</span>
                <input type="email" required="required" name="email" ng-model="employer.email">
                <i class="icon ion-alert-circled error"></i>
              </label>
              <label class="item item-input validated">
                <span class="input-label">Password</span>
                <input type="password" ng-model="employer.password" name="password" required="required">
                <i class="icon ion-alert-circled error"></i>
              </label>
            </div>
            <div>
                <button type="submit" class="button button-block button-stable">Sign In</button>
            </div>
            <div ng-show="badlogin">
              <span>Incorrect username or password, please double-check and try again</span>
            </div>
        </form>
        <form novalidate="novalidate" on-valid-submit="employerSignup(newEmployer)">
            <div class="list">
            <h3>New to endevr? Sign up.</h3>
              <label class="item item-input validated">
                <span class="input-label">Email</span>
                <input type="email" required="required" name="email" ng-model="newEmployer.email">
                <i class="icon ion-alert-circled error"></i>
              </label>
              <label class="item item-input validated">
                <span class="input-label">Password</span>
                <input type="password" ng-model="newEmployer.password" name="password" required="required">
                <i class="icon ion-alert-circled error"></i>
              </label>
            </div>
            <div>
                <button type="submit" class="button button-block button-stable">Sign Up</button>
            </div>
            <div ng-show="duplicate">
              <span>This username already exists, please choose another or log in with your account</span>
            </div>
        </form>
        <div>
            <button class="button button-block button-stable" ng-click="logout()">Back</button>
        </div>
    </div>
</ion-view>