<ion-view hide-back-button="true" title="Browse {{ interest }}">

  <ion-nav-buttons side="left">

    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>

  <ion-content class="has-header" ng-show="!chosen">
    <ion-list>

      <ion-item class="item-stable" ng-repeat="position in positions" ng-click="decide(position.id)">
        {{ position.position }}
      </ion-item>

    </ion-list>

  </ion-content>

  <ion-pane ng-show="chosen" ng-controller="CardsCtrl">

      <div ng-show="noCards" class="nocards" style="text-align: center;">
        <i style="color: #365E78; font-size: 70px" class="ion-sad browse"></i>
        <h1 style="color: #365E78;">No more cards</h1>
        <h3 style="color: #365E78;">check again later</h3>
      </div>

      <td-cards>

        <td-card
          ng-repeat="card in cards"
          on-destroy="cardDestroyed()"
          on-swipe-left="cardSwipedLeft(card)"
          on-swipe-right="cardSwipedRight(card)"
          on-partial-swipe="cardPartialSwipe(amt)"
          ng-controller="CardCtrl">
          <!-- ng-click="information()" will be used in card when users can
          click to get more information -->

          <!-- Show developer cards to employers -->
          <div ng-show="type=='emp'">
            <div class="list card">
              <div class="item item-divider">
                Skills
              </div>

              <div class="item item-text-wrap">
                <span ng-repeat="skill in card.skills">
                  <span ng-if="$index < 5">{{ skill }}, </span>
                  <span ng-if="$index === 5"> and {{ skill }}</span>
                </span>
              </div>

              <div class="item item-divider">
                GitHub Info
              </div>

              <div class="item item-text-wrap">
                  Public Repos: {{ card.public_repos }}
              </div>

              <div class="item item-divider">
                Most Recent Education
              </div>

              <div class="item item-text-wrap">
                {{ card.education[0] }}
              </div>

              <div class="item item-divider">
                Most Recent Past Experience
              </div>

              <div class="item item-text-wrap">
                {{ card.positions[0] }}
              </div>

            </div>

          </div>

          <!-- Show employer cards to developers -->
          <div ng-show="type=='dev'">

            <div class="list card">
              <img class="tdImage" ng-src="{{card.image}}">

              <div class="item item-divider">
                {{ card.position }}
              </div>

              <div class="item item-divider">
                {{ card.location }}
              </div>

              <div class="item item-text-wrap">
                  Salary: {{ card.salary }}
              </div>

              <div class="item item-text-wrap">
                  {{ card.required }}
              </div>

              <div class="item item-text-wrap">
                  {{ card.preferred }}
              </div>

              <div class="item item-text-wrap">
                  {{ card.description }}
              </div>

              <div class="item item-text-wrap">
                  Employees: {{ card.company_size }}
              </div>

            </div>

          </div>

<!--           <div class="image">

            <div class="yes-text" ng-style="leftTextOpacity">LIKE</div>

            <img class="tdImage" ng-src="{{card.image}}">

            {{ card.name }}

            <div class="no-text" ng-style="rightTextOpacity">NOPE</div>

          </div> -->

        </td-card>

      </td-cards>

  </ion-pane>

</ion-view>
