<!-- For future use when user clicks on card and wants more information. -->
<div class="modal">

  <ion-header-bar>

    <h1 class="title">{{ name }}</h1>

    <div class="buttons">

      <button class="button button-clear" ng-click="closeInformation()">Close</button>

    </div>

  </ion-header-bar>

  <ion-content>

    Erro!

    <div class="buttons">

      <button class="button button-royal" ng-click="clickReject()">Reject</button>

      <button class="button button-energized" ng-click="clickAccept()">Accept</button>

    </div>

  </ion-content>

</div>
