<ion-view title="Matches">

  <ion-nav-buttons side="left" class="bar-light nav-title-slide-ios7">

    <button ng-show="type === 'dev' || (type === 'emp' && !chosen)" menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    <button ng-show="type === 'emp' && chosen" class="button button-icon icon ion-ios7-arrow-back button-clear" ng-click="backToJobs()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <ion-list>
      <ion-item ng-show="type === 'dev'" class="item-stable" ng-repeat="match in matches" ng-click="showModal(match)">
        <div class='split'>
          <div class="left">
            <b>{{ match.position }}</b>
          </div>
          </br>
          <div class="right">
            {{ match.employer }}
          </div>
        </div>
      </ion-item>

      <ion-item ng-show="type === 'emp' && chosen === false" class="item-stable" ng-repeat="position in positions" ng-click="decide(position.id)">
        {{ position.position }}
      </ion-item>

      <ion-item ng-show="type === 'emp' && chosen === true" class="item-stable" ng-repeat="match in matches" ng-click="showModal(match)">
        <div class='split'>
          <div class="left">
            <b>{{ match.fname }} {{ match.lname }}</b>
          </div>
          </br>
          <!-- Decide what second piece of info to display -->
          <div class="right"></div>
        </div>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
