<ion-side-menus>
  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-pane>
  <ion-side-menu side="left">
    <header alt="Menu"  class="bar bar-header bar-light">
    <div style="margin: 8% auto 0 auto">
      <img class="title-image"
          src="img/header-logo.png"
          height="25px"
          width="85px"
          alt='endevr'/>
    </div>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item class="item-stable item-icon-left" nav-clear menu-close ng-click="navigate('profile')">
          <i class="icon splashTeal ion-person"></i>
          Profile
        </ion-item>
        <ion-item class="item-stable item-icon-left" nav-clear menu-close ng-click="navigate('browse')">
          <i class="icon splashTeal ion-ios7-albums"></i>
          Browse
        </ion-item>
        <ion-item class="item-stable item-icon-left" nav-clear menu-close ng-click="navigate('matches')">
          <i class="icon splashTeal ion-person-stalker"></i>
          Matches
        </ion-item>
        <ion-item class="item-stable item-icon-left" nav-clear menu-close ng-click="logout()">
          <i class="icon splashTeal ion-log-out"></i>
          Log Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
