<ion-view title="Full Profile">

  <ion-nav-buttons side="left">
      <button menu-toggle="left" ng-show='editable' class="button button-icon icon ion-navicon"></button>

      <button ng-if='!editable' class="button button-icon icon ion-ios7-arrow-back button-clear" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <label menu-toggle="right" ng-if='editable' class="toggle toggle-assertive" ng-click="navigate('card')">
         <input type="checkbox" checked>
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="list card">

      <div class="item item-avatar item-text-wrap">
        <img ng-src="{{ profile.photo_url }}" >
        <b> {{ profile.fname }} {{ profile.lname }}</b>
        <p> e-mail: {{ profile.email }}<br/>
            Location: {{ profile.location }} </p>
      </div>

      <div class="item item-divider" ng-show='editable'>
        Skills <i ng-click='showModal("skills", profile.skills)' class="icon iconSize toggleLeft ion-gear-b"></i>
      </div>

      <div class="item item-text-wrap">
        <span ng-repeat="skill in profile.skills">
          <span ng-if="!$last && $index < 5"><b>{{ skill }}</b>, </span>
          <span ng-if="!$last && $index >= 5">{{ skill }}, </span>
          <span ng-if="$last"> and {{ skill }}</span>
        </span>
      </div>

      <div class="item item-divider">
        <b>GitHub Info</b><br/>
      </div>

      <div class="item item-text-wrap">
          Public Repos: {{ profile.public_repos }}
      </div>

      <div class="item item-divider" ng-show='editable'>
        Education <i ng-click='showModal("education", profile.education)' class="icon iconSize toggleLeft ion-gear-b"></i>
      </div>

      <div class="item item-text-wrap">
        <div ng-repeat="school in profile.education">
          <span ng-if="$first"><b>{{ school }}</b></span>
          <span ng-if="!$first">{{ school }}</span>
        </div>
      </div>

      <div class="item item-divider" ng-show='editable'>
        Past Experience <i ng-click='showModal("positions", profile.positions)' class="icon iconSize toggleLeft ion-gear-b"></i>
      </div>

      <div class="item item-text-wrap">
        <div ng-repeat="job in profile.positions">
          <span ng-if="$first"><b>{{ job }}</b></span>
          <span ng-if="!$first">{{ job }}</span>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>
