<ion-view title="Profile">

  <ion-nav-buttons side="left">

    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>

  <ion-content class="has-header">

    <div>
      <b>General Information</b><br/>
      <div>
        <img ng-src="{{ profile.photo_url }}"/><br/>
        {{ profile.fname }} {{ profile.lname }}<br/>
        e-mail: dev@null.com<br/>
        Location: {{ profile.location }}<br/><br/>
      </div>

      <b>Skills</b> - <a href='' ng-click='showModal("skills", profile.skills)'>Edit</a><br/>
      <div ng-repeat="skill in profile.skills">
        {{ skill }}
      </div><br/>

      <b>Education</b> - <a href='' ng-click='showModal("education", profile.education)'>Edit</a><br/>
      <div ng-repeat="school in profile.education">
        {{ school }}
      </div><br/>

      <b>GitHub Info</b><br/>
      <div>
          Public Repos: {{ profile.public_repos }}
      </div><br/>

      <b>Past Experience</b><br/>
      <div>
        {{ profile.positions }}
      </div>

    </div>

  </ion-content>

</ion-view>


<!--

View Pre-Match Card
Edit Skills
Edit Education
Edit Past Jobs
Profile

-->
