<ion-view title="{{ title }}">

  <ion-nav-buttons side="left">

    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    <label menu-toggle="right" class="toggle toggle-assertive toggleLeft" ng-click="toggleView()">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>

  </ion-nav-buttons>

  <ion-content class="has-header" ng-show="profileView">

    <div class="list card">

      <div class="item item-avatar item-text-wrap">
        <img ng-src="{{ profile.photo_url }}" >
        <b> {{ profile.fname }} {{ profile.lname }}</b>
        <p> e-mail: dev@null.com<br/>
            Location: {{ profile.location }} </p>
      </div>

      <div class="item item-divider">
        <b>Skills</b> - <i ng-click='showModal("skills", profile.skills)' class="icon ion-gear-b"></i>
      </div>

      <div class="item item-text-wrap">
        <span ng-repeat="skill in profile.skills">
          <span ng-if="!$last && $index < 5"><b>{{ skill }}</b>, </span>
          <span ng-if="!$last && $index >= 5">{{ skill }}, </span>
          <span ng-if="$last"> and {{ skill }}</span>
        </span>
      </div>

      <div class="item item-divider">
        <b>GitHub Info</b><br/>
      </div>

      <div class="item item-text-wrap">
          Public Repos: {{ profile.public_repos }}
      </div>

      <div class="item item-divider">
        <b>Education</b> - <i ng-click='showModal("education", profile.education)' class="icon ion-gear-b"></i>
      </div>

      <div class="item item-text-wrap">
        <div ng-repeat="school in profile.education">
          <span ng-if="$first"><b>{{ school }}</b></span>
          <span ng-if="!$first">{{ school }}</span>
        </div>
      </div>

      <div class="item item-divider">
        <b>Past Experience</b> - <i ng-click='showModal("positions", profile.positions)' class="icon ion-gear-b"></i>
      </div>

      <div class="item item-text-wrap">
        <div ng-repeat="job in profile.positions">
          <span ng-if="$first"><b>{{ job }}</b></span>
          <span ng-if="!$first">{{ job }}</span>
        </div>
      </div>

    </div>

  </ion-content>

  <ion-pane ng-show="!profileView">

    <td-card>
      <div class="list card">

        <div class="item item-divider">
          <b>Skills</b>
        </div>

        <div class="item item-text-wrap">
          <span ng-repeat="skill in profile.skills">
            <span ng-if="$index < 5">{{ skill }}, </span>
            <span ng-if="$index === 5"> and {{ skill }}</span>
          </span>
        </div>

        <div class="item item-divider">
          <b>GitHub Info</b><br/>
        </div>

        <div class="item item-text-wrap">
            Public Repos: {{ profile.public_repos }}
        </div>

        <div class="item item-divider">
          <b>Most Recent Education</b>
        </div>

        <div class="item item-text-wrap">
          {{ profile.education[0] }}
        </div>

        <div class="item item-divider">
          <b>Most Recent Past Experience</b>
        </div>

        <div class="item item-text-wrap">
          {{ profile.positions[0] }}
        </div>

      </div>

    </td-card>

  </ion-pane>

</ion-view>
